#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-top: -50px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}

h1 {
  background-color: black;
  color: white;
  padding: 50px;
  width: 100vw;
  
}
h2 {
  font-size: 50px;
}